.ant-layout-sider-children .logo {
  height: 32px;
  // background: rgba(255,255,255,.2);
  margin: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  line-height: 32px;
  text-align: center;
}
.ant-layout .ant-layout-header .anticon {
  font-size: 20px;
  height: 64px;
  cursor: pointer;
  transition: all .3s,padding 0s;
  padding: 22px 24px;
}